@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: theme('fontFamily.sans');
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #FDFCF8;
  /* cream */
  color: #1E293B;
  /* slate-800 */
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('./assets/fonts/OpenDyslexic-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-dyslexic {
  font-family: 'OpenDyslexic', sans-serif !important;
  line-height: 1.6 !important;
}

.font-dyslexic p,
.font-dyslexic h1,
.font-dyslexic h2,
.font-dyslexic h3,
.font-dyslexic span,
.font-dyslexic div,
.font-dyslexic button,
.font-dyslexic a {
  font-family: 'OpenDyslexic', sans-serif !important;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #E2E8F0;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #CBD5E1;
}